build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/CPackConfig.cmake
build/CPackSourceConfig.cmake
build/CTestTestfile.cmake
build/DartConfiguration.tcl
build/main.exe
build/Makefile
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-6ec95ecbc9d2096e2006.json
build/.cmake/api/v1/reply/codemodel-v2-3c927aee2f290b15680c.json
build/.cmake/api/v1/reply/index-2021-06-12T20-35-40-0162.json
build/.cmake/api/v1/reply/target-main_autogen-Debug-e0bad40a1ac8fb022281.json
build/.cmake/api/v1/reply/target-main-Debug-d2da06ed044d11d60b85.json
build/.cmake/api/v1/reply/toolchains-v1-24eced070d4665b1b49c.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/CMakeRuleHashes.txt
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.20.3/CMakeCCompiler.cmake
build/CMakeFiles/3.20.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.20.3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.20.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.20.3/CMakeRCCompiler.cmake
build/CMakeFiles/3.20.3/CMakeSystem.cmake
build/CMakeFiles/3.20.3/CompilerIdC/a.exe
build/CMakeFiles/3.20.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.20.3/CompilerIdCXX/a.exe
build/CMakeFiles/3.20.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/Continuous.dir/build.make
build/CMakeFiles/Continuous.dir/cmake_clean.cmake
build/CMakeFiles/Continuous.dir/compiler_depend.make
build/CMakeFiles/Continuous.dir/compiler_depend.ts
build/CMakeFiles/Continuous.dir/DependInfo.cmake
build/CMakeFiles/Continuous.dir/progress.make
build/CMakeFiles/ContinuousBuild.dir/build.make
build/CMakeFiles/ContinuousBuild.dir/cmake_clean.cmake
build/CMakeFiles/ContinuousBuild.dir/compiler_depend.make
build/CMakeFiles/ContinuousBuild.dir/compiler_depend.ts
build/CMakeFiles/ContinuousBuild.dir/DependInfo.cmake
build/CMakeFiles/ContinuousBuild.dir/progress.make
build/CMakeFiles/ContinuousConfigure.dir/build.make
build/CMakeFiles/ContinuousConfigure.dir/cmake_clean.cmake
build/CMakeFiles/ContinuousConfigure.dir/compiler_depend.make
build/CMakeFiles/ContinuousConfigure.dir/compiler_depend.ts
build/CMakeFiles/ContinuousConfigure.dir/DependInfo.cmake
build/CMakeFiles/ContinuousConfigure.dir/progress.make
build/CMakeFiles/ContinuousCoverage.dir/build.make
build/CMakeFiles/ContinuousCoverage.dir/cmake_clean.cmake
build/CMakeFiles/ContinuousCoverage.dir/compiler_depend.make
build/CMakeFiles/ContinuousCoverage.dir/compiler_depend.ts
build/CMakeFiles/ContinuousCoverage.dir/DependInfo.cmake
build/CMakeFiles/ContinuousCoverage.dir/progress.make
build/CMakeFiles/ContinuousMemCheck.dir/build.make
build/CMakeFiles/ContinuousMemCheck.dir/cmake_clean.cmake
build/CMakeFiles/ContinuousMemCheck.dir/compiler_depend.make
build/CMakeFiles/ContinuousMemCheck.dir/compiler_depend.ts
build/CMakeFiles/ContinuousMemCheck.dir/DependInfo.cmake
build/CMakeFiles/ContinuousMemCheck.dir/progress.make
build/CMakeFiles/ContinuousStart.dir/build.make
build/CMakeFiles/ContinuousStart.dir/cmake_clean.cmake
build/CMakeFiles/ContinuousStart.dir/compiler_depend.make
build/CMakeFiles/ContinuousStart.dir/compiler_depend.ts
build/CMakeFiles/ContinuousStart.dir/DependInfo.cmake
build/CMakeFiles/ContinuousStart.dir/progress.make
build/CMakeFiles/ContinuousSubmit.dir/build.make
build/CMakeFiles/ContinuousSubmit.dir/cmake_clean.cmake
build/CMakeFiles/ContinuousSubmit.dir/compiler_depend.make
build/CMakeFiles/ContinuousSubmit.dir/compiler_depend.ts
build/CMakeFiles/ContinuousSubmit.dir/DependInfo.cmake
build/CMakeFiles/ContinuousSubmit.dir/progress.make
build/CMakeFiles/ContinuousTest.dir/build.make
build/CMakeFiles/ContinuousTest.dir/cmake_clean.cmake
build/CMakeFiles/ContinuousTest.dir/compiler_depend.make
build/CMakeFiles/ContinuousTest.dir/compiler_depend.ts
build/CMakeFiles/ContinuousTest.dir/DependInfo.cmake
build/CMakeFiles/ContinuousTest.dir/progress.make
build/CMakeFiles/ContinuousUpdate.dir/build.make
build/CMakeFiles/ContinuousUpdate.dir/cmake_clean.cmake
build/CMakeFiles/ContinuousUpdate.dir/compiler_depend.make
build/CMakeFiles/ContinuousUpdate.dir/compiler_depend.ts
build/CMakeFiles/ContinuousUpdate.dir/DependInfo.cmake
build/CMakeFiles/ContinuousUpdate.dir/progress.make
build/CMakeFiles/Experimental.dir/build.make
build/CMakeFiles/Experimental.dir/cmake_clean.cmake
build/CMakeFiles/Experimental.dir/compiler_depend.make
build/CMakeFiles/Experimental.dir/compiler_depend.ts
build/CMakeFiles/Experimental.dir/DependInfo.cmake
build/CMakeFiles/Experimental.dir/progress.make
build/CMakeFiles/ExperimentalBuild.dir/build.make
build/CMakeFiles/ExperimentalBuild.dir/cmake_clean.cmake
build/CMakeFiles/ExperimentalBuild.dir/compiler_depend.make
build/CMakeFiles/ExperimentalBuild.dir/compiler_depend.ts
build/CMakeFiles/ExperimentalBuild.dir/DependInfo.cmake
build/CMakeFiles/ExperimentalBuild.dir/progress.make
build/CMakeFiles/ExperimentalConfigure.dir/build.make
build/CMakeFiles/ExperimentalConfigure.dir/cmake_clean.cmake
build/CMakeFiles/ExperimentalConfigure.dir/compiler_depend.make
build/CMakeFiles/ExperimentalConfigure.dir/compiler_depend.ts
build/CMakeFiles/ExperimentalConfigure.dir/DependInfo.cmake
build/CMakeFiles/ExperimentalConfigure.dir/progress.make
build/CMakeFiles/ExperimentalCoverage.dir/build.make
build/CMakeFiles/ExperimentalCoverage.dir/cmake_clean.cmake
build/CMakeFiles/ExperimentalCoverage.dir/compiler_depend.make
build/CMakeFiles/ExperimentalCoverage.dir/compiler_depend.ts
build/CMakeFiles/ExperimentalCoverage.dir/DependInfo.cmake
build/CMakeFiles/ExperimentalCoverage.dir/progress.make
build/CMakeFiles/ExperimentalMemCheck.dir/build.make
build/CMakeFiles/ExperimentalMemCheck.dir/cmake_clean.cmake
build/CMakeFiles/ExperimentalMemCheck.dir/compiler_depend.make
build/CMakeFiles/ExperimentalMemCheck.dir/compiler_depend.ts
build/CMakeFiles/ExperimentalMemCheck.dir/DependInfo.cmake
build/CMakeFiles/ExperimentalMemCheck.dir/progress.make
build/CMakeFiles/ExperimentalStart.dir/build.make
build/CMakeFiles/ExperimentalStart.dir/cmake_clean.cmake
build/CMakeFiles/ExperimentalStart.dir/compiler_depend.make
build/CMakeFiles/ExperimentalStart.dir/compiler_depend.ts
build/CMakeFiles/ExperimentalStart.dir/DependInfo.cmake
build/CMakeFiles/ExperimentalStart.dir/progress.make
build/CMakeFiles/ExperimentalSubmit.dir/build.make
build/CMakeFiles/ExperimentalSubmit.dir/cmake_clean.cmake
build/CMakeFiles/ExperimentalSubmit.dir/compiler_depend.make
build/CMakeFiles/ExperimentalSubmit.dir/compiler_depend.ts
build/CMakeFiles/ExperimentalSubmit.dir/DependInfo.cmake
build/CMakeFiles/ExperimentalSubmit.dir/progress.make
build/CMakeFiles/ExperimentalTest.dir/build.make
build/CMakeFiles/ExperimentalTest.dir/cmake_clean.cmake
build/CMakeFiles/ExperimentalTest.dir/compiler_depend.make
build/CMakeFiles/ExperimentalTest.dir/compiler_depend.ts
build/CMakeFiles/ExperimentalTest.dir/DependInfo.cmake
build/CMakeFiles/ExperimentalTest.dir/progress.make
build/CMakeFiles/ExperimentalUpdate.dir/build.make
build/CMakeFiles/ExperimentalUpdate.dir/cmake_clean.cmake
build/CMakeFiles/ExperimentalUpdate.dir/compiler_depend.make
build/CMakeFiles/ExperimentalUpdate.dir/compiler_depend.ts
build/CMakeFiles/ExperimentalUpdate.dir/DependInfo.cmake
build/CMakeFiles/ExperimentalUpdate.dir/progress.make
build/CMakeFiles/Nightly.dir/build.make
build/CMakeFiles/Nightly.dir/cmake_clean.cmake
build/CMakeFiles/Nightly.dir/compiler_depend.make
build/CMakeFiles/Nightly.dir/compiler_depend.ts
build/CMakeFiles/Nightly.dir/DependInfo.cmake
build/CMakeFiles/Nightly.dir/progress.make
build/CMakeFiles/NightlyBuild.dir/build.make
build/CMakeFiles/NightlyBuild.dir/cmake_clean.cmake
build/CMakeFiles/NightlyBuild.dir/compiler_depend.make
build/CMakeFiles/NightlyBuild.dir/compiler_depend.ts
build/CMakeFiles/NightlyBuild.dir/DependInfo.cmake
build/CMakeFiles/NightlyBuild.dir/progress.make
build/CMakeFiles/NightlyConfigure.dir/build.make
build/CMakeFiles/NightlyConfigure.dir/cmake_clean.cmake
build/CMakeFiles/NightlyConfigure.dir/compiler_depend.make
build/CMakeFiles/NightlyConfigure.dir/compiler_depend.ts
build/CMakeFiles/NightlyConfigure.dir/DependInfo.cmake
build/CMakeFiles/NightlyConfigure.dir/progress.make
build/CMakeFiles/NightlyCoverage.dir/build.make
build/CMakeFiles/NightlyCoverage.dir/cmake_clean.cmake
build/CMakeFiles/NightlyCoverage.dir/compiler_depend.make
build/CMakeFiles/NightlyCoverage.dir/compiler_depend.ts
build/CMakeFiles/NightlyCoverage.dir/DependInfo.cmake
build/CMakeFiles/NightlyCoverage.dir/progress.make
build/CMakeFiles/NightlyMemCheck.dir/build.make
build/CMakeFiles/NightlyMemCheck.dir/cmake_clean.cmake
build/CMakeFiles/NightlyMemCheck.dir/compiler_depend.make
build/CMakeFiles/NightlyMemCheck.dir/compiler_depend.ts
build/CMakeFiles/NightlyMemCheck.dir/DependInfo.cmake
build/CMakeFiles/NightlyMemCheck.dir/progress.make
build/CMakeFiles/NightlyMemoryCheck.dir/build.make
build/CMakeFiles/NightlyMemoryCheck.dir/cmake_clean.cmake
build/CMakeFiles/NightlyMemoryCheck.dir/compiler_depend.make
build/CMakeFiles/NightlyMemoryCheck.dir/compiler_depend.ts
build/CMakeFiles/NightlyMemoryCheck.dir/DependInfo.cmake
build/CMakeFiles/NightlyMemoryCheck.dir/progress.make
build/CMakeFiles/NightlyStart.dir/build.make
build/CMakeFiles/NightlyStart.dir/cmake_clean.cmake
build/CMakeFiles/NightlyStart.dir/compiler_depend.make
build/CMakeFiles/NightlyStart.dir/compiler_depend.ts
build/CMakeFiles/NightlyStart.dir/DependInfo.cmake
build/CMakeFiles/NightlyStart.dir/progress.make
build/CMakeFiles/NightlySubmit.dir/build.make
build/CMakeFiles/NightlySubmit.dir/cmake_clean.cmake
build/CMakeFiles/NightlySubmit.dir/compiler_depend.make
build/CMakeFiles/NightlySubmit.dir/compiler_depend.ts
build/CMakeFiles/NightlySubmit.dir/DependInfo.cmake
build/CMakeFiles/NightlySubmit.dir/progress.make
build/CMakeFiles/NightlyTest.dir/build.make
build/CMakeFiles/NightlyTest.dir/cmake_clean.cmake
build/CMakeFiles/NightlyTest.dir/compiler_depend.make
build/CMakeFiles/NightlyTest.dir/compiler_depend.ts
build/CMakeFiles/NightlyTest.dir/DependInfo.cmake
build/CMakeFiles/NightlyTest.dir/progress.make
build/CMakeFiles/NightlyUpdate.dir/build.make
build/CMakeFiles/NightlyUpdate.dir/cmake_clean.cmake
build/CMakeFiles/NightlyUpdate.dir/compiler_depend.make
build/CMakeFiles/NightlyUpdate.dir/compiler_depend.ts
build/CMakeFiles/NightlyUpdate.dir/DependInfo.cmake
build/CMakeFiles/NightlyUpdate.dir/progress.make
build/CMakeFiles/basic_qt.dir/build.make
build/CMakeFiles/basic_qt.dir/cmake_clean.cmake
build/CMakeFiles/basic_qt.dir/compiler_depend.make
build/CMakeFiles/basic_qt.dir/compiler_depend.ts
build/CMakeFiles/basic_qt.dir/depend.make
build/CMakeFiles/basic_qt.dir/DependInfo.cmake
build/CMakeFiles/basic_qt.dir/flags.make
build/CMakeFiles/basic_qt.dir/includes_CXX.rsp
build/CMakeFiles/basic_qt.dir/link.txt
build/CMakeFiles/basic_qt.dir/linklibs.rsp
build/CMakeFiles/basic_qt.dir/objects1.rsp
build/CMakeFiles/basic_qt.dir/progress.make
build/CMakeFiles/basic_qt_autogen.dir/AutogenInfo.json
build/CMakeFiles/basic_qt_autogen.dir/build.make
build/CMakeFiles/basic_qt_autogen.dir/cmake_clean.cmake
build/CMakeFiles/basic_qt_autogen.dir/compiler_depend.make
build/CMakeFiles/basic_qt_autogen.dir/compiler_depend.ts
build/CMakeFiles/basic_qt_autogen.dir/DependInfo.cmake
build/CMakeFiles/basic_qt_autogen.dir/progress.make
build/CMakeFiles/main.dir/build.make
build/CMakeFiles/main.dir/cmake_clean.cmake
build/CMakeFiles/main.dir/compiler_depend.internal
build/CMakeFiles/main.dir/compiler_depend.make
build/CMakeFiles/main.dir/compiler_depend.ts
build/CMakeFiles/main.dir/depend.make
build/CMakeFiles/main.dir/DependInfo.cmake
build/CMakeFiles/main.dir/flags.make
build/CMakeFiles/main.dir/includes_CXX.rsp
build/CMakeFiles/main.dir/link.txt
build/CMakeFiles/main.dir/linklibs.rsp
build/CMakeFiles/main.dir/main.cpp.obj
build/CMakeFiles/main.dir/main.cpp.obj.d
build/CMakeFiles/main.dir/objects.a
build/CMakeFiles/main.dir/objects1.rsp
build/CMakeFiles/main.dir/progress.make
build/CMakeFiles/main.dir/main_autogen/mocs_compilation.cpp.obj
build/CMakeFiles/main.dir/main_autogen/mocs_compilation.cpp.obj.d
build/CMakeFiles/main.dir/src/Board.cpp.obj
build/CMakeFiles/main.dir/src/Board.cpp.obj.d
build/CMakeFiles/main.dir/src/main.cpp.obj
build/CMakeFiles/main.dir/src/main.cpp.obj.d
build/CMakeFiles/main.dir/src/mainwindow.cpp.obj
build/CMakeFiles/main.dir/src/mainwindow.cpp.obj.d
build/CMakeFiles/main.dir/src/Solver.cpp.obj
build/CMakeFiles/main.dir/src/Solver.cpp.obj.d
build/CMakeFiles/main_autogen.dir/AutogenInfo.json
build/CMakeFiles/main_autogen.dir/AutogenUsed.txt
build/CMakeFiles/main_autogen.dir/build.make
build/CMakeFiles/main_autogen.dir/cmake_clean.cmake
build/CMakeFiles/main_autogen.dir/compiler_depend.make
build/CMakeFiles/main_autogen.dir/compiler_depend.ts
build/CMakeFiles/main_autogen.dir/DependInfo.cmake
build/CMakeFiles/main_autogen.dir/ParseCache.txt
build/CMakeFiles/main_autogen.dir/progress.make
build/CMakeFiles/solver.dir/build.make
build/CMakeFiles/solver.dir/cmake_clean.cmake
build/CMakeFiles/solver.dir/compiler_depend.make
build/CMakeFiles/solver.dir/compiler_depend.ts
build/CMakeFiles/solver.dir/depend.make
build/CMakeFiles/solver.dir/DependInfo.cmake
build/CMakeFiles/solver.dir/flags.make
build/CMakeFiles/solver.dir/link.txt
build/CMakeFiles/solver.dir/linklibs.rsp
build/CMakeFiles/solver.dir/objects1.rsp
build/CMakeFiles/solver.dir/progress.make
build/Testing/TAG
build/Testing/20210612-1946/Test.xml
build/Testing/Temporary/CTestCostData.txt
build/Testing/Temporary/LastTest_20210612-1946.log
build/Testing/Temporary/LastTest.log
build/main_autogen/moc_predefs.h
build/main_autogen/mocs_compilation.cpp
build/main_autogen/6YEA5652QU/moc_Board.cpp
build/main_autogen/6YEA5652QU/moc_Board.cpp.d
build/main_autogen/6YEA5652QU/moc_mainwindow.cpp
build/main_autogen/6YEA5652QU/moc_mainwindow.cpp.d
build/main_autogen/6YEA5652QU/moc_Solver.cpp
build/main_autogen/6YEA5652QU/moc_Solver.cpp.d
build/main_autogen/include/ui_board.h
build/main_autogen/include/ui_mainwindow.h
.vscode/settings.json
